**/*.so
**/__pycache__
**/*.pyc
build/
dist/
cython_debug/
doc/
pyodeint/_odeint.cpp
MANIFEST
.cache/
__conda_version__.txt
**/.ipynb_checkpoints/
**.egg-info
tests/catch.hpp
tests/test_odeint_anyode
tests/test_odeint_anyode_parallel
tests/test_odeint_anyode_autorestart
